/* CSS */

/* General styling */
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

button { cursor: pointer; }

hr {
  border-color: #80808024;
    border-width: 0.5px;
}

.text-center { text-align: center; }

/** navigation section **/
  .navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .main-menu  {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .main-menu li {
    font-size: 16px;
    margin-bottom: 10px; 
  }
  
  .main-menu li a {
    text-decoration: none;
    color: #333;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .icons {
    display: flex;
    gap: 10px;
  }

  .secondary-menu {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .secondary-menu li a {
    text-decoration: none;
  }
  
  .currency-dropdown {
    position: relative;
    border: 1px solid #F2F2F2;
    border-radius: 50px;
  }
  
  .dropdown-toggle {
    padding: 10px 0;
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 110px;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    list-style: none;
    padding: 0;
  }
  
  .currency-dropdown:hover .dropdown-menu {
    display: block;
  }
  
  .dropdown-menu li {
    padding: 10px;
  }
  
  .dropdown-menu li a {
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 90px;
    padding: 10px 0;
  }

  .hamburger {
    display: none; /* Hide the hamburger on larger screens */
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
  }
  
  .line {
    display: block;
    width: 25px;
    height: 3px;
    margin: 3px auto;
    background-color: #333;
  }
  
  .small-hide { display: block; }
  .desktop-hide { display: none; }

  nav.navigation.small-hide {
    display: flex;
  }
  nav.navigation.desktop-hide {
    display: none;
  }

/***** media queries *****/
@media (max-width: 768px) {
    .navigation {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .main-menu {
      margin-bottom: 10px;
    }
  
    .logo {
      margin: 20px 0;
    }
  
    .icons {
      flex-wrap: wrap;
      justify-content: center;
    }
    .main-menu {
        display: none; /* Hide the main menu on smaller screens */
      }
    
      .hamburger {
        display: block; /* Show the hamburger icon on smaller screens */
        position: absolute;
        top: 33px;
        left: 21px;
      }

      .main-menu.active {
        display: block; /* Show the main menu when the hamburger is clicked */
        padding: 0;
      }
      .small-hide { display: none; }
      .desktop-hide { display: block; }

      nav.navigation.desktop-hide {
        display: flex;
      }
      nav.navigation.small-hide {
        display: none;
      }

      .shopping-bag-mobile-view { position: absolute; right: 41px; top: 43px; }
  }  

/** end of navigation section **/

/** start of style for benefits section **/
/* Apply a flex container to the benefits list */
.benefits-list {
    display: flex; /* Use flexbox layout */
    justify-content: space-between; /* Distribute items evenly along the row */
    flex-wrap: wrap; /* Allow items to wrap to the next line if needed */
    list-style: none; /* Remove default list styles */
    padding: 0 30px; /* Remove default padding */
  }
  
  /* Style individual benefit items */
  .benefit-item {
    flex-basis: calc(20% - 20px); /* Distribute items evenly within the container */
    margin: 10px; /* Add some spacing between items */
    text-align: center; /* Center the content within each item */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
  }

  .benefit-item img {
    margin-right: 10px;
  }
  
  /* Container for horizontal scrolling */
  .benefits-scroll-container {
    overflow-x: auto; /* Enable horizontal scrolling */
    padding: 10px 0; /* Add some spacing */
  }

  /* Adjust styles for mobile view */
  @media (max-width: 768px) {
    .benefits-list {
      justify-content: center; /* Center items vertically */
      flex-wrap: nowrap; /* Prevent items from wrapping to the next line */
      width: 1300px;
      padding: 0; /* Remove default padding */
    }
    .benefit-item {
      flex-basis: calc(100% - 20px); /* Full width of container minus margin */
    }
  }
  
/** end of style for benefits section **/

/** start of style for hero section **/
.hero-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    cursor: pointer;;
  }
  
  .hero-banner {
    flex: 1;
  }

  .hero-banner img {
    width: 100%;
  }
  
/** end of style for hero section **/

/** start of style for recently bought section **/
#recentlyBought { text-align: center;}
.items-container {
    display: flex;
    overflow-x: scroll; /* Enable horizontal scrolling */
    justify-content: center;
  }
  
  .item {
    flex: 0 0 auto; /* Don't grow or shrink, maintain initial size */
    margin: 0 10px; /* Add margin between items */
    max-width: 225px;
    font-size: 14px;
  }
  
  .item img {
    max-width: 100%; /* Ensure images fit within item container */
  }

  .product-title {
    display: flex;
    text-align: left;
    align-items: center;
    height: 34px;
  }

  .product-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .add-to-cart { height: 30px; }

  .price { font-weight: 600;}

  .sale-price { color: #C1272D; }
  .original-price { color: #000; margin-left: 8px; text-decoration: line-through;}
/** end of style for recently bought section **/


/** cart overview **/
.cart-overview {
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  position: absolute;
  right: -13px;
  top: 7px;
  background: #c1272dd1;
  padding: 5px 8px;
  border-radius: 50px;
  font-size: 12px;
}

/***** media queries *****/
@media (max-width: 768px) {
.cart-overview {
  right: -15px;
  top: -10px;
}
.items-container {
  justify-content: flex-start;
}
}

.relative {
  position: relative;
}

#cart-items {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: none; /* Hide the cart items by default */
  z-index: 1000; 
  margin: 20px;
}

#cart-list {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 550px;
    overflow: scroll;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 5px 0;
  border-bottom: 1px solid #ccc;
}

.cart-item .name {
  flex: 1;
}

.cart-item .actions {
  display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;;
}

.cart-item .actions .price { 
  margin-right: 10px;
    margin-top: 22px;
}

.cart__image { margin-right: 10px; }
.cart__image img { width: 100px;}

.cart__item-details {
  display: flex;
  flex-direction: column;
  max-width: 222px;
}



.js-qty__wrapper {
    background-color: transparent;
    border-color: #e8e8e1;
    border-color: var(--colorDrawerBorder);
}
.js-qty__wrapper {
    display: inline-block;
    position: relative;
    max-width: 80px;
    min-width: 60px;
    overflow: visible;
    background-color: #fff;
    background-color: var(--colorBody);
    color: #000;
}


.js-qty__adjust--minus {
    left: 0;
}

.js-qty__adjust--plus {
    right: 0;
}
.js-qty__adjust {
    cursor: pointer;
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    border: 0 none;
    background: none;
    text-align: center;
    overflow: hidden;
    padding: 0 10px;
    line-height: 1;
    -webkit-user-select: none;
    user-select: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: background-color .1s ease-out;
    z-index: 2;
    fill: #000;
}

.js-qty__adjust:hover{ background-color: #333;}


.js-qty__num {
    color: #000;
    color: var(--colorDrawerText);
    padding-top: 2px;
    padding-bottom: 2px;
}
input, .drawer textarea {
    border-color: #e8e8e1;
  }
.js-qty__num {
    display: block;
    background: none;
    text-align: center;
    width: 100%;
    padding: 5px 20px;
    margin: 0;
    z-index: 1;
    width: 25px;
}

.close-cart {
  position: absolute;
    top: 30px;
    right: 20px;
}

#cart-total {
  display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

#cartSubtotal { font-weight: 600;}



.hidden-label {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}


#checkout {
  font-size: 20px;
    margin: 15px 0 5px;
    padding: 8px;
    width: -webkit-fill-available;
    background: #000;
    color: #fff;
    text-transform: uppercase;
}


/** style for cart page nav **/
#cartItemsDetails #cart-items {
  position: inherit;
  display: block;
}

#cartItemsDetails .close-cart {
  display: none;
}

#cartItemsDetails #cart-list {
  height: auto;
}

#cartItemsDetails .cart-item {
  justify-content: flex-start;
}

textarea.input-full {
    width: -webkit-fill-available;
    border: 1px solid #e8e8e1;
}

.cart-notes {
    margin-top: 10px;
    margin-bottom: 10px;
    min-height: 60px;
    height: 60px;
    font-size: 14px;
}

#cart-coupon-code {
    width: -webkit-fill-available;
    margin-bottom: 5px;
    font-size: 14px!important;
    border: 1px solid #e8e8e1;
    padding: 8px 10px;
}

.cart__page-col:last-child {
  background-color: #f7f7f7;
}

@media only screen and (min-width: 769px){
  .cart__page {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}
.cart__page-col:first-child {
    flex: 1 1 50%;
    padding-right: 30px;
}
.cart__page-col:last-child {
    position: sticky;
    top: 10%;
    flex: 0 1 35%;
    padding: 30px;
}
#cartItemsDetails .cart__item-details {
  min-width: 500px;
  width: 100%;
  max-width: unset;
}
.cart-notes {
  min-height: 80px;
  height: 80px;
}
}